# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Environment variable file
.env

# Ignore IntelliJ IDEA project files
.idea/

# Ignore kotlin project files
.kotlin/